* {
    margin: 0px;
    padding: 0px;
}
.header-bar{
    background-image: linear-gradient(43deg, #0a88ae, #1071a9);
    color:white;
}
.navbar-start>.navbar-item, .navbar-link{
    color:white;
    font-weight: 600;
}
.navbar-item:hover{
    font-weight: 800;
    background: #007ea5 !important;
    color:white !important
}
.has-dropdown{
    color:#363636;
}
/*********************************************/
/*******************TOOLTIP*******************/
.tooltip::before {
    top: auto;
    bottom: 100%;
    left: 50%;
    right: auto;
}
.tooltip:hover::before,
.tooltip.is-tooltip-active::before {
    z-index: 99999;
    position: absolute;
    display: inline-block;
    pointer-events: none;
}
.tooltip:hover::before,
.tooltip.is-tooltip-active::before {
    opacity: 0;
    content: attr(data-tooltip);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.75rem;
    padding: 0.4rem 0.8rem;
    background: rgba(74, 74, 74, 0.9);
    border-radius: 4px;
    color: #fff;
    max-width: 24rem;
}
.tooltip:focus::before,
.tooltip:hover::before,
.tooltip.is-tooltip-active::before {
    opacity: 1;
}
.tooltip:focus::before,
.tooltip:hover::before,
.tooltip.is-tooltip-active::before {
    transform: translate(-50%, -0.5rem);
}
.tooltip:hover:not(.is-loading)::after,
.tooltip.is-tooltip-active:not(.is-loading)::after {
    z-index: 99999;
    position: absolute;
    display: inline-block;
    pointer-events: none;
}
.tooltip:hover:not(.is-loading)::after,
.tooltip.is-tooltip-active:not(.is-loading)::after {
    content: "";
    border-style: solid;
    border-width: 0.5rem;
}
.tooltip:focus:not(.is-loading)::after,
.tooltip:hover:not(.is-loading)::after,
.tooltip.is-tooltip-active:not(.is-loading)::after {
    opacity: 1;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}
.tooltip:focus:not(.is-loading)::after,
.tooltip:hover:not(.is-loading)::after,
.tooltip.is-tooltip-active:not(.is-loading)::after {
    top: 0;
    bottom: auto;
    left: 50%;
    right: auto;
    border-color: rgba(74, 74, 74, 0.9) transparent transparent
        transparent;
}
/*******************TOOLTIP*******************/
/*********************************************/
.hide{
    display: none !important;
}

.flatpickr-input{
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
    position: relative;
    vertical-align: top;
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    -webkit-box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    max-width: 100%;
    width: 100%;
}